<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>SDM.servlets.Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFileServlet</servlet-name>
        <servlet-class>SDM.servlets.StoresAndContent.UploadFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsersListServlet</servlet-name>
        <servlet-class>SDM.servlets.StoresAndContent.UserListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoneDataServlet</servlet-name>
        <servlet-class>SDM.servlets.StoresAndContent.ZoneDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>moveToZonePageServlet</servlet-name>
        <servlet-class>SDM.servlets.StoresAndContent.MoveToZonePageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ZoneStoresDataServlet</servlet-name>
        <servlet-class>SDM.servlets.MainPage.ZoneStoresInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemDataServlet</servlet-name>
        <servlet-class>SDM.servlets.MainPage.ItemDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreItemsServlet</servlet-name>
        <servlet-class>SDM.servlets.MainPage.StoreItemsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreInfoServlet</servlet-name>
        <servlet-class>SDM.servlets.MainPage.StoreInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getUserServlet</servlet-name>
        <servlet-class>SDM.servlets.StoresAndContent.getUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginErrorServlet</servlet-name>
        <servlet-class>SDM.servlets.Login.LoginErrorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetStoresById</servlet-name>
        <servlet-class>SDM.servlets.MainPage.Feedback.GetStoresById</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddFeedback</servlet-name>
        <servlet-class>SDM.servlets.MainPage.Feedback.AddFeedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItemNamePriceAndId</servlet-name>
        <servlet-class>SDM.servlets.placeOrder.getItemsInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <servlet-class>SDM.servlets.MainPage.OrderHistory.OrderHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatOrderServlet</servlet-name>
        <servlet-class>SDM.servlets.placeOrder.CreatOrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoresHistoryServlet</servlet-name>
        <servlet-class>SDM.servlets.MainPage.OwnerServlets.StoresHistoryServlet.StoresHistoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OwnerFeedbackServlet</servlet-name>
        <servlet-class>SDM.servlets.MainPage.OwnerServlets.OwnerFeedbacks.OwnerFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetOwnerStoresInZone</servlet-name>
        <servlet-class>SDM.servlets.MainPage.OwnerServlets.OwnerFeedbacks.GetOwnerStoresInZone</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>getAccountServlet</servlet-name>
        <servlet-class>SDM.servlets.Account.getAccountServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAccountServlet</servlet-name>
        <url-pattern>/getAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepositServlet</servlet-name>
        <servlet-class>SDM.servlets.Account.DepositServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepositServlet</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ItemNamePriceAndId</servlet-name>
        <url-pattern>/getItemNamePriceAndID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatOrderServlet</servlet-name>
        <url-pattern>/creatOrder</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsersListServlet</servlet-name>
        <url-pattern>/userData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFileServlet</servlet-name>
        <url-pattern>/uploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoneDataServlet</servlet-name>
        <url-pattern>/getZoneData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>moveToZonePageServlet</servlet-name>
        <url-pattern>/zonePage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItemDataServlet</servlet-name>
        <url-pattern>/getItemData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ZoneStoresDataServlet</servlet-name>
        <url-pattern>/getStoresData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreItemsServlet</servlet-name>
        <url-pattern>/getStoreItemsData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreInfoServlet</servlet-name>
        <url-pattern>/getStoreData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getUserServlet</servlet-name>
        <url-pattern>/getCurrentUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginErrorServlet</servlet-name>
        <url-pattern>/loginError</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetStoresById</servlet-name>
        <url-pattern>/getStoresById</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddFeedback</servlet-name>
        <url-pattern>/sendFeedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryServlet</servlet-name>
        <url-pattern>/getOrderHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoresHistoryServlet</servlet-name>
        <url-pattern>/getStoresHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OwnerFeedbackServlet</servlet-name>
        <url-pattern>/getOwnerFeedbacks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetOwnerStoresInZone</servlet-name>
        <url-pattern>/getStoresFromZone</url-pattern>
    </servlet-mapping>

</web-app>